*{
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: 'Nelvetica Neue Cyrthin';
    src: url('fonts/helveticaneuecyr-thin-webfont.eot');
    src: url('fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  margin: 0 auto;
  font-family: 'Nelvetica Neue Cyrthin';
}
.container {
  position: relative;
  width: 1215px;
  height: 1064px;
  margin: 0 auto;
  background: url(../img/background1.png) no-repeat center center;
}
.menu a {
  color: rgb(60, 134, 193);
}
.menu {
  width: 1215px;
  height: 35px;
  background: #07508f url(../img/background_menu.png);
  margin: 0 auto;
}
.white a.decot {
  color: #fff;
}
li.white {
  color: #fff;
}
li.white a.decot:hover {
  background: url(../img/button.png) center center no-repeat;
  text-decoration: underline;
}
.global-nav table {
  margin: 0 auto;
}
.global-nav {
  background:#07508f;
  list-style: none;
  padding-left: 380px;
}
.global-nav li {
	float:left;
	margin-right: 0px;
  margin-left: 0px;
	display:block;
  padding: 6px;
}
.global-nav li a {
  color: #60b5ed;
  text-decoration: none;
padding: 0 10px 0 10px;
}
.global-nav  li a:hover {
  background: rgb(47, 124, 197);
  padding: 10px 10px;
  color: #fff;
}
.layer36 {
  background: url(../img/layer_36.png) no-repeat;
  width: 0px;
  margin-top: 5px;
  height: 30px;
}
.inventicons29 {
  background: url(../img/inventicons29.png) no-repeat;
  width: 10px;
  margin-top: 5px;
  height: 30px;
}
.cadastre-se {
  background: rgba(25,34, 29, 0.8);
  position: absolute;
  width: 555px;
  height: 620px;
  top: 52%;
  left: 50%;
  margin-top: -310px;
  margin-left: -250px;
}
 h1 {
  color: #ccc;
  text-align:  center;
  font-size: 28px;
  font-family: Tahoma sans-serif;
  padding: 14px;
}
.cadastre-se  hr {
  color: #fff;
  width: auto;
}
.cadastre-se a img {
  padding-left: 25%;
  /*padding-bottom: 10px;*/
  padding-top: 39px;
}
.cadastre-se  img {
  padding-left: 25%;
  padding-top: 27px;
}
.form2{
  padding-left: 8%;
}
.form2 label input {
  margin: 10px 10px;
}
.form2 input {
  background: #0f0f0f url(../img/layer1_10.png);
  color: #fff;
  text-align: left;
  padding: 8px 120px 10px 20px;
margin: 23px 0px 0px 90px;
  border: 0;
}
.form2 input:hover {
  background:#1b5288 no-repeat ;
  box-shadow: 0 0 5px;
}
.form2 input:nth-child(7) {
  background: #2f7bc5;
  box-shadow: inset 0px 1px 20px 1px;
  width: 150px;
  padding: 5px 13px 5px 13px;
}
.create_my {
  background: url(../img/create.png) no-repeat;
  padding: 20px;
  margin: 50px 10px 10px 199px;
}
.form2  label {
  padding-right: 10px;
}
.check-div {
  color: rgba(204,204,204,0.6);
  margin: 15px 0 15px 96px;
  height: 15px;
    width: 250px;
    float: left;
}
.check-div input {
    float: left;
    margin: 5px 15px 0 0;
    display: block;
  }
  .cadastre-se-footer {
    color: rgba(204,204,204,0.6);
    text-align: center;;
    padding: 20px;
    margin: -18px 20px 10px 20px;
  }
p, a {
font-family: 'Nelvetica Neue Cyrthin';
}
