*{
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: 'Nelvetica Neue Cyrthin';
    src: url('fonts/helveticaneuecyr-thin-webfont.eot');
    src: url('fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  margin: 0 auto;
  font-family: 'Nelvetica Neue Cyrthin';
}
.container {
  margin: 0 auto;
  min-height: 100%;
}
.menu a {
  color: rgb(60, 134, 193);
}
.menu {
  width: 1215px;
  height: 35px;
  background: #07508f url(../img/background_menu.png);
  margin: 0 auto;
}
.white a {
  color: #fff;
}
.global-nav table {
  margin: 0 auto;
}
.global-nav {
  background:#07508f;
  list-style: none;
  padding-left: 500px;
}
.global-nav li {
	float:left;
	margin-right: 0px;
  margin-left: 0px;
	display:block;
  padding: 6px;
}
.global-nav li a {
  text-decoration: none;
}
.global-nav  li a:hover {
  background: rgb(47, 124, 197);
  padding: 10px 0px;
  color: #fff;
}
.layer36 {
  background: url(../img/layer_36.png) no-repeat;
  width: 0px;
  margin-top: 5px;
  height: 30px;
}
.inventicons29 {
  background: url(../img/inventicons29.png) no-repeat;
  width: 10px;
  margin-top: 5px;
  height: 30px;
}
.fon {
  background: url(../img/background1.png) no-repeat center center fixed;
  margin: 0 auto;
  width: 1215px;
  min-height:1027px;
}
.cadastre-se {
  height: 550px;
  width: 350px;
  position: absolute;
  top: 25%;
  left: 38%;
  text-align: center;
  background: rgba(90,90, 90, 0.8);
}
.cadastre-se  hr {
  color: #fff;
  width: auto;
}
.cadastre-se a img {
  padding-top: 40px;
  padding-bottom: 10px;
}
.form2 label input {
  margin: 10px 10px;
}
.form2 input {
  background: #0f0f0f url(../img/layer1_10.png);
  color: #fff;
  text-align: left;
  padding: 7px 65px 7px 15px;
  margin: 10px 70px;
}
.form2 input:hover {
  background:#1b5288 no-repeat ;
  box-shadow: 0 0 5px;
}
.form2 input:nth-child(7) {
  background: #2f7bc5;
  box-shadow: inset 0px 1px 20px 1px;
  width: 150px;
  padding: 5px 13px 5px 13px;
}
.form2  label {
  padding-right: 10px;
}
p, a {
font-family: 'Nelvetica Neue Cyrthin';
}
