*{
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content:"";
  visibility: hidden;
  clear: both;
  display: block;
  height: 0;
}
body {
<<<<<<< HEAD:homework_4_1/css/style.css
=======
  background: url(../img/fon.png);
>>>>>>> 38df0c7619166b562dd153d5309e07e2af9984c5:homework_4/css/style.css
  background-color: rgb(0, 115, 161);
  background-size: 100% 100%;
  margin: 0 auto;
  min-height: 100%;
  font-family: Arial, Tahoma, sans-serif;
}
.logo2 {
    margin:0 auto;
    background: url(../img/fon3_1.png) repeat-x;
    height: 175px;
}
.box1 {
    background: url(../img/fon3_2.png) repeat-x;
    width: auto;
    margin: 0 auto;
}
.box {
  width: 1000px;
  margin: 0 auto;
}

.logo {
  top: 19px;
  left: auto;
  margin: auto;
  width: 1000px;
  height: 178px;
  background: url(../img/logo.png) no-repeat;
}
.contacts {
  display:block;
  padding-left: 850px;
  padding-top: 40px;
  text-decoration:none;
  color: #1BA1BA;
  font: 0.6em Arial;
  margin: -4px;
  z-index: 2;
}
a.contacts {
  padding-top: 5px;
}
.navigation {
	list-style: none;
	padding-left: 639px;
  padding-top: 25px;
}
.navigation li {
	float: left;
	margin-right: 10px;
}
.navigation li a {
	display: block;
	text-align: center;
	padding-top: 40px;
	color: #1BA1BA;
	background-position: center top;
	background-repeat: no-repeat;
	width: 41px;
  font: 0.6em Arial;
  padding-left: 5px;
}
.navigation .indija a {
	background-image: url(../img/indija.png);
}
.navigation .nepal a {
	background-image: url(../img/nepal.png);
}
.navigation .tibet a {
	background-image: url(../img/tibet.png);
}
.navigation .butan a {
	background-image: url(../img/butan.png);
}
.navigation .schrilanka a {
	background-image: url(../img/schrilanka.png);
}
.navigation .maldivi a {
	background-image: url(../img/maldivi.png);
}
.navigation li a:hover {
	color: #0000CC;
}
.header {
	width: 1000px;
	height: 235px;
}

.header img {
  margin-top: 2px;
}
.menu {
	list-style:none;
  padding-top: 5px;
  padding-left: 50px;
  width: 950px;
  background: rgb(50,50,50);
  /*z-index: 2;*/
}
.menu li {
	float:left;
	margin-right: 10px;
  margin-left: 10px;
	position:relative;
}
.menu li a {
	display:block;
	padding:5px;
	color:#fff;
	text-decoration:none;
  padding-right: 25px;
}
.menu li a:hover {
	color:#fff;
	background:#6b0c36;
	text-decoration:underline;
}
.menu ul {
	list-style:none;
	position:absolute;
	left:-9999px;
  z-index: 900;
}
.menu ul li {
	float:none;
}
.menu li:hover ul {
	left: 0;
}
.menu li:hover a {
	background: #323232;
	text-decoration:underline;
}
.menu li:hover ul a {
	text-decoration:none;
}
.menu li:hover ul li a:hover {
	background:#333;
	text-decoration:underline;
}
.put, .usl, .par  {
  background: url(../img/cut.png);
  background-position: right;
	background-repeat: no-repeat;
}
.container {
  margin: 0 auto;
  background: black;
  width: 1000px;
  overflow:hidden;
}
.sidebar {
<<<<<<< HEAD:homework_4_1/css/style.css
  float:left;
  width:250px;
  background: #edeef0;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
=======
  position: absolute;
  top: 460px;
  left: 0px;
  float: left;
  width: 25%;
  border: 1px solid;
  background-color:#edeef0;
  height: 639px;
  overflow:hidden;
>>>>>>> 38df0c7619166b562dd153d5309e07e2af9984c5:homework_4/css/style.css
}
.info {
  padding-top: 40px;
  width: 30%;
  float: left;
  overflow: hidden;
  position:relative;
  left:75%;
}
.content {
<<<<<<< HEAD:homework_4_1/css/style.css
  width:500px;
  float:left;
  background: #fff;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}
.text {
  padding-top: 40px;
	position:relative;
	left:15%;
}
.sidebar2 {
  float:right;
  width:250px;
  max-height: 100%;
  background: #edeef0;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
=======
  position: absolute;
  top: 485px;
  left: 250px;
  float: left;
  width: 50%;
  height: 616px;
  overflow:hidden;
}
.sidebar2 {
  position: absolute;
  top: 460px;
  left: 749px;
  float: left;
  width: 25%;
  border: 1px solid;
  background-color:#edeef0;
  height: 639px;
  overflow:hidden;
>>>>>>> 38df0c7619166b562dd153d5309e07e2af9984c5:homework_4/css/style.css
}
.news {
  margin-top: inherit;
  padding-top: 40px;
	position:relative;
	left:15%;
}
h2 {
  padding-left: 40px;
}
.info h2:nth-child(1) {
  padding-left: 10px;
}
.hFooter {
	height: 5px;
}
.footer {
  position: absolute;
  width: 1000PX;
  clear: both;*/
}
.footer a {
  padding-left: 600px;
}
