*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #efe6e6;
}
table {
    margin: 50px auto;
    border-collapse: collapse;
    border: 10px solid #efe6e6;
    background-color: #fff;
}
td {
    box-sizing: border-box;
    border: 5px solid #000;
}
.line-1 {
  height: 50px;
}
.line-2, .line-3 {
  height: 135px;
}
.line-4 {
  height: 70px;
}
.line-5 {
  height: 60px;
}
.line-6, .line-7 {
  height: 30px;
}
 .yellow{
  background-color: #ffff35;
}
.line-2__cell2 {
  background-color: #ff2f2c;
}
.line-4__cell1 {
  width: 135px;
  background-color: #223934;
}
.line-4__cell2 {
  width: 128px;
}
.line-4__cell3 {
  width: 165px;
}
.line-5 .yellow {
  width: 50px;
}
.line-5__cell3 {
  width: 50px;
  background-color: #05386B;
}
.line-6__cell2{
  width: 50px;
  background-color: #223934;
}
